<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center mx-auto">      
            <br><br><br><br><br><br><br><br><br>
        <h1 style="color: #FFFFFF;">CandySoft</h1>    
        <h3 style="color: #FFFFFF;">v0.1</h3>              
        <br>
	{{#if user}}
            <a href="/auth/profile" class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"><i class="fa fa-spinner" aria-hidden="true"></i> Sesión Iniciada</a>
            {{else}}
            <a href="/auth/signin" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"><i class="fas fa-sign-in-alt"></i> Ingresa a tu perfil</a>
            {{/if}}
        </div>
    </header>
</main>