<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CandySoft v0.1</title>
    {{! -- FLOWBITE --}}
    <link href="/resources/flowbite/flowbite.min.css" rel="stylesheet" />
    <!-- CSS only -->    
    {{! -- FONTAWESOME --}}
    <script src="https://kit.fontawesome.com/4a5588b625.js" crossorigin="anonymous"></script>
    {{! -- ESTILOS --}}    
    <link rel="stylesheet" href="/resources/styles/styles.css"> 
    <link rel="stylesheet" href="/resources/styles/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>

<body>
    
    {{> navegacion }}    
    {{> mensajes }}
    {{{ body }}}
    {{!-- SCRIPTS --}}
   <script src="/resources/flowbite/flowbite.js"></script>

</body>
</html>